<div class="headerDiv divPad">
  <div class="pageName">Users</div>
  <div class="spacer"></div>
    <button type="button" title="Create User" class="btn btn-primary cancel form-btn" routerLink="./new">Create User</button>
</div>

<div class="contentDiv">
  <div class="mr-0 col-12 col-lg-12 col-md-12 col-sm-12 p-20">
    <table>
      <thead>
        <tr>
          <th>User name </th>
          <th>Class</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.name}}</td>
          <td>{{u.class}}</td>
          <td>{{u.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
