<div class="headerDiv divPad">
  <div class="pageName">Users</div>
  <div class="spacer"></div>
  <button type="button" title="Create User" class="btn btn-primary cancel form-btn" routerLink="./new">Create
    User</button>
</div>

<div class="contentDiv">
  <div class="mr-0 col-12 col-lg-12 col-md-12 col-sm-12 p-20">
    <table>
      <thead>
        <tr>
          <th>User name </th>
          <th>Roll No</th>
          <th>Salary</th>
          <th>Age</th>
          <th>Grade</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="users?.length > 0">
        <tr *ngFor="let u of users">
          <a [routerLink]="['/user', u.id]" ><td> {{u.name}} <td></a>
          <td>{{u.rollNo}}</td>
          <td>{{u.salary}}</td>
          <td>{{u.age}}</td>
          <td>{{u.grade}}</td>
          <td><i class="fa fa-trash text-primary" (click)="deleteMongoUser(u.id)" title = "Delete user"></i></td>
        </tr>
      </tbody>
      <tbody *ngIf="users.length == 0">
        <tr>
          <td>Data Not Available !!!</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>