<div class="headerDiv divPad">
  <div> Create User</div>
  <div class="spacer"></div>
  <div>
    <i class="fa fa-user-circle text-success fz-22" title="View Users" (click)="goToPrevPage()"></i>
  </div>
</div>

<!-- <form name="createUserForm" role="form" #createUserForm="ngForm" novalidate show-validation>
  <div class="row m-0 d-flex">        
    <h1 class="text-muted d-inline-block m-0 h2 p-1 pl-0 d-flex align-items-center my-auto mr-auto">
      <span *ngIf="!userId">Create User</span>           
        <span *ngIf="userId">User : {{user?.firstName}} {{user?.lastName}}</span>        
    </h1>

    <button type="submit" class="btn btn-primary mr-2 font-weight-bold my-auto" [disabled]="createUserForm.form.invalid">            
      <span class="fa fa-save mr-2"></span>
      <span *ngIf="!userId">Save</span>
      <span *ngIf="userId">Update</span>
    </button>     
      
     <button type="button" class="btn btn-cancel font-weight-bold my-auto">
      <span class="fa fa-ban mr-2"></span>Cancel</button>    
  </div>

  <div>
    <div class="row m-0 mt-2">
      <div class="col-12 p-2 pb-3 bg-white rounded-lg shadow-sm">
        <h1 class="text-muted h4 m-0 p-1 px-3">Basic Detail</h1>
        <hr class="mb-2 mx-3">
                   <div class="form-group col-12 col-sm-12 col-md-6 col-lg-4 my-1">
                       <label class="form-control-label required" for="firstName">First Name</label>
                          <input type="text" class="form-control" id="firstName" name="firstName" #firstNameInput="ngModel" 
            [(ngModel)]="user.firstName"  placeholder="First Name">                    
        </div>
      </div>
    </div>
  </div>
</form> -->